@mixin navbar {
  // for mobile devices
  .nav {
    display: grid;
    position: fixed;
    top: 0;
    z-index: 1000;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
    z-index: 1000;
    gap: 6em;
    padding: 0.5rem 1rem;
    background-color: #f0ece5d1;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    // branding
    .branding {
      grid-column: 1;
      display: flex;
      align-items: center;
      z-index: 1000;

      .branding-h1 {
        font-family: $font-brand;
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        color: $color-primary;
        text-transform: uppercase;
        transition: color 0.8s ease-in-out;
      }
      .logo {
        width: 35px;
        transition: 0.4s ease-in-out;
      }
    }
    .branding.active .branding-h1 {
      color: $color-light !important;
    }
    .branding.active .logo {
      opacity: 0;
    }

    // hamburger
    .hamburger {
      width: 30px;
      margin-left: auto;
      grid-column: 3;
      display: block;
      cursor: pointer;
      z-index: 1000;
      transition: 0.5s ease;

      .line {
        width: 100%;
        height: 2px;
        margin: 3.6px 0px;
        background-color: $color-light;
        transition: transform 0.5s ease, opacity 0.5s ease;
        border-radius: 50px;
      }
    }

    // for hamburger toggle animations
    .hamburger.active .line:nth-child(1) {
      transform: translateY(50%) rotate(-45deg) scaleX(1.1);
      width: 40px;
      height: 2.5px;
      border-radius: 180px;
    }
    .hamburger.active .line:nth-child(2) {
      transform: scaleX(0);
    }
    .hamburger.active .line:nth-child(3) {
      width: 40px;
      height: 2.5px;
      border-radius: 180px;
      transform: translateY(-50%) rotate(45deg) scaleX(1.1);
    }

    // navigation bar for cta's
    .navigation {
      display: flex;
      position: fixed;
      top: 0;
      height: 0px;
      top: 0px;
      left: 0;
      right: 0;
      width: 100vw;
      z-index: 1100;
      background-color: $color-primary;
      transition: height 0.4s ease-in-out;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;

      .ul-tag {
        display: flex;
        gap: 2em;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.9s;
        opacity: 0;

        li {
          display: inline-block;
          margin-bottom: -5px;
          transition: 0.9s;
          text-align: center;
          padding: 5px 15px;
          border-bottom: 2px solid $color-light;
          border-radius: 8px;
          transition: border 0.1s ease-in-out;
        }
        li:last-child {
          margin-bottom: 10px;
        }
        li:hover {
          border: 2px solid $color-light;
          border-radius: 20px;
        }
      }

      .link {
        transition: 1s ease-in-out;
        color: $color-bg;
        font-family: $font-mono;
        font-size: $fs-9;
        text-transform: uppercase;
      }
    }
    .navigation.active {
      height: 380px;
      z-index: 900;
    }
    .navigation.active .ul-tag {
      opacity: 1;
    }
  } //nav for mobile devices ends here

  // for laptop devices and higher
  @media screen and (min-width: 1024px) {
    .nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: #f0ece57c;
      backdrop-filter: blur(5px);
      border-radius: 0;
      gap: 0;
      width: 100vw;

      .branding {
        display: flex;
        margin-left: 40px;
        width: 150px;
      }
      .hamburger {
        display: none;
      }
      .navigation {
        margin-right: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: auto;
        background-color: transparent;
        border-radius: 0;

        .ul-tag {
          display: flex;
          justify-content: end;
          gap: 4em;
          align-items: center;
          flex-direction: row;
          width: 100%;
          margin: 0;
          text-align: center;
          opacity: 1;

          li {
            margin-bottom: 0;
            text-align: center;
            border-bottom: none;
            border-radius: 0;
            padding: 0px;
            border: none;
          }
          li:last-child {
            margin-bottom: 0px;
          }
          li:hover {
            border: none;
            border-bottom: 2px solid $color-light;
            border-radius: 0;
          }
          .link {
            color: $color-primary;
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
    }
  } //media query
} //mixin
