// importing stuff
@import "config";
@import "default";
@import "navbar";
@import "footer";
@import "utils";

body {
  width: 100vw;
  height: 100dvh;
  background-color: $color-bg;
  overflow-x: hidden;
  overflow-y: auto;

  .header {
    @include navbar;
    background-color: #d9d9d9;

    // first section /hero section
    .hero-section {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      overflow: hidden;
      background-color: #d9d9d9;
      width: 100vw;
      margin-top: 30px;

      .hero-content {
        display: flex;
        flex-direction: column;
        padding: 40px;
        padding-left: 30px;
        padding-bottom: 5px;
        padding-right: 20px;
        text-align: left;

        .sub-heading {
          font-size: 13px;
          color: $color-light;
          font-family: $font-stylish;
          text-transform: uppercase;
          padding-bottom: 10px;
        }
        .heading {
          text-align: left;
          color: $color-primary;
          font-family: $font-flex;
          letter-spacing: 0.7px;
          font-size: 35px;
        }
        .doodle {
          width: 50px;
          margin-top: 10px;
          margin-left: -5px;
          filter: saturate(120%);
        }
      }
      .hero-img {
        display: none;
      }
      .hero-wave {
        margin-bottom: -3px;
        z-index: 900;
        width: 100vw;
      }
    }
  }

  // main content starts
  .main {
    .mission-section {
      margin-top: 50px;
      margin-bottom: 35px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: fit-content;

      .mission-img {
        width: 260px;
        transform: scale(0);
        animation: scaleIn 1.45s ease-in-out forwards;
      }
      @keyframes scaleIn {
        from {
          transform: scale(0.5);
        }
        to {
          transform: scale(1);
        }
      }

      .mission-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 35px;

        .mission-heading {
          font-size: 30px;
          font-family: $font-major;
          font-weight: 700;
          text-align: center;
          letter-spacing: 1.2px;
          color: $color-primary;
        }
        .mission-dis {
          margin-top: 20px;
          color: $color-primary;
          font-family: $font-condensed;
          font-size: 17.5px;
          font-weight: 400;
          line-height: 155%;
          text-align: center;
          letter-spacing: 0.34px;
        }
      }
    }

    .purple-arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100vw;

      .purple-arrow-img {
        transform: rotate(90deg);
        width: 100px;
      }
    }

    // story section starts here
    .story-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100vw;
      height: fit-content;

      .story-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 35px;

        .story-heading {
          font-size: 30px;
          font-family: $font-major;
          font-weight: 700;
          text-align: center;
          letter-spacing: 1.2px;
          color: $color-primary;
        }
        .story-dis {
          color: #312f4d;
          font-family: $font-condensed;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 166%;
          letter-spacing: 0.32px;

          .paragraph {
            text-align: center;
            margin-top: 25px;
          }
        }
      }
      .story-img {
        padding: 10px;
        width: 300px;
      }
    }

    // history section
    .history-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 15px;
      height: 60vh;
      margin-top: 50px;
      width: 100vw;
      padding: 20px;
      padding-left: 30px;
      padding-right: 30px;
      position: relative;

      .slider-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        cursor: pointer;
        border: none;
        background: none;
        color: $color-primary;
      }

      .prev-btn {
        left: 10px;
      }

      .next-btn {
        right: 10px;
      }

      .history-heading {
        padding-bottom: 20px;
        font-size: 30px;
        font-family: $font-major;
        font-weight: 700;
        text-align: center;
        letter-spacing: 1.2px;
        color: $color-primary;
      }
      .wrapper {
        position: relative;
        width: 100%;
        overflow-x: auto;
      }
      .history-slider {
        position: relative;
        overflow-y: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        scroll-snap-type: x mandatory;
        overflow-x: auto;
        scroll-behavior: auto;
        overscroll-behavior-x: contain;

        .history-card {
          flex-shrink: 0;
          scroll-snap-align: start;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: left;
          background-color: $color-bg;
          width: 250px;
          height: 206px;
          padding: 15px;
          padding-top: 20px;
          padding-bottom: 20px;
          border: none;
          border-radius: 32px;
          margin: 20px;
          margin-right: 20px;

          .history-img {
            width: 230px;
          }

          .history-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            text-align: left;
            margin-top: 5px;

            .history-h1 {
              padding: 5px;
              padding-top: 6px;
              padding-bottom: 10px;
              padding-left: 0px;
              padding-bottom: 10px;
              font-size: 18px;
              color: $color-primary;
              font-family: $font-condensed;
              font-weight: 700;
              text-align: left;
            }
            .history-dis {
              font-size: 16px;
              color: $color-primary;
              font-family: $font-condensed;
              font-weight: 400;
              text-align: left;
              line-height: 150%;
            }
          }
        }
      }
    }

    //   community section starts here
    .community-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #d9d9d9;
      width: 100vw;
      height: 70vh;
      padding: 20px;
      padding-bottom: 25px;

      .community-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .community-h1 {
          font-size: 30px;
          font-family: $font-major;
          font-weight: 700;
          text-align: center;
          letter-spacing: 1px;
          color: $color-primary;
          margin: 5px;
          margin-top: 20px;
        }
        .community-dis {
          font-size: 18.5px;
          color: $color-primary;
          font-family: $font-condensed;
          font-weight: 400;
          text-align: center;
          line-height: 150%;
          margin-top: 20px;
          margin-bottom: 15px;
          padding-left: 10px;
          padding-right: 10px;
        }
      }

      .stats {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        width: 100vw;
        flex-wrap: wrap;
        .stat,
        .highlighted-stat {
          width: 70px;
          margin: 10px;
          text-align: center;
          text-transform: uppercase;
          font-family: $font-condensed;
          font-weight: 500;
          color: $color-primary;
          font-size: 14px;
        }
        .highlighted-stat {
          color: $color-light;
          font-weight: 600;
          font-size: 18px;
        }
      }
      .review-btn {
        background: $color-primary;
        padding: 0.35em;
        padding-left: 1.2em;
        border-radius: 0.9em;
        border: none;
        letter-spacing: 0.05em;
        display: flex;
        align-items: center;
        overflow: hidden;
        position: relative;
        height: 1.8em;
        padding-right: 1.2em;
        cursor: pointer;
        margin-top: 20px;
        transition: all 0.5s ease-in-out;

        .review-btn-a {
          color: $color-bg;
          margin-top: -3px;
          font-family: $font-mono;
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 700;
        }
      }
      .review-btn:hover {
        scale: 1.3;
      }
    }

    // quote section starts here
    .quote-section {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      width: 100vw;
      height: 40vh;
      padding: 25px;

      .quote {
        width: 330px;
        color: #312f4d;
        font-family: $font-handwriting;
        font-size: 19px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        z-index: 100;
        margin: 20px;
        margin-top: 30px;

        .grey-blob {
          z-index: -100;
          position: absolute;
          top: 20%;
          right: 25%;
          width: 170px;
          opacity: 45%;
        }
        .double-quote {
          font-size: 35px;
          color: $color-light;
          font-style: $font-handwriting;
        }
      }

      .details {
        z-index: 100;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;

        .name,
        a {
          font-family: $font-flex;
          color: $color-primary;
          font-size: 13px;
          text-align: center;
          text-transform: uppercase;
        }
        .profession {
          font-family: $font-condensed;
          text-transform: uppercase;
          color: #626098;
          font-size: 11px;
        }
      }
    }
  }

  //   footer
  @include footer;
}
// small changes for tablet devices:
@media screen and (min-width:481px) and (max-width:1023px){
  body {
    .hero-section{
      align-items: center;
      .hero-content{
        text-align: center;
        align-items: center;
        .heading{
          text-align: center;
        }
      }
    }
    .main .quote-section .quote .grey-blob{
      display: none;
     }
  }
}

// for laptop devices 
@media screen and (min-width: 1024px) {
  body {
    .header {
      .hero-section {
        height: 67vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .hero-content {
          padding-left: 90px;
          width: 500px;
          justify-content: center;

          .sub-heading {
            font-size: 14px;
            color: $color-light;
          }
          .heading {
            font-size: 40px;
          }
        }
        .hero-img {
          margin-top: 40px;
          margin-right: 90px;
          display: block;
          width: 400px;
        }
      }
    }

    .main {
      .mission-section {
        height: 75vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .mission-text {
          padding: 0px;
          margin-top: 20px;
          padding-left: 90px;
          text-align: left;

          .mission-dis {
            text-align: left;
            font-size: 19.5px;
            width: 435px;
            margin-top: 30px;
            line-height: 166%;
          }
        }
        .mission-img {
          margin-top: 30px;
          margin-right: 80px;
          order: 2;
          width: 400px;
        }
      }

      .purple-arrow{
        margin-top: 100px;
      }
      .story-section{
        margin-top:0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .story-text{
          padding: 0px;
          order: 2;
          width: 530px;
          padding-right: 90px;
          padding-left: 20px;

          .story-dis{
            font-size: 14px;

            .paragraph{
              text-align: left;
            }
          }
        }
        .story-img{
          width:430px ;
          margin-left:90px ;
        }
      }
      .community-section{
        margin-top: 120px;

        .community-text{
          margin-top: 20px;
          .community-dis{
            width: 770px;
          }
        }
        .stats{
          padding-top: 5px;
        }
      }
      .quote-section{
        height: 60vh;
        justify-content: center;

        .quote{
          margin-top: 0px;
          font-size: 25px;
          width: 430px;

          .grey-blob{
            top: 2%;
            width: 370px;
            right: none;
            opacity: 20%;
          }
        }
        
      }
    }
  }
}
