@import "config";
@import "utils";
@import "default";
@import "navbar";

body{
    width: 100vw;
    height: 100dvh;
    background-color: $color-bg;
    overflow-y: auto;

    .header{
        @include navbar; 
    }
}