// importing
@import "config";
@import "default";
@import "navbar";

// utility classes
.hidden {
  opacity: 0;
  transition: opacity 0.7s ease-in;
  filter: blur(3px);
}
.animate {
  opacity: 1;
  filter: blur(0);
}

body {
  width: 100vw;
  height: 100dvh;
  background-color: $color-bg;
  overflow-y: auto;

  .header {
    @include navbar;

    // hero section
    .hero {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 15px;
      height: 100vh;
      width: 100vw;
      margin-top: 20px;

      .hero-img {
        width: 200px;
        transform: scale(0);
        animation: scaleIn 1.45s ease-in-out forwards;
      }
      @keyframes scaleIn {
        from {
          transform: scale(0.5);
        }
        to {
          transform: scale(1);
        }
      }

      //   hero text
      .hero-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .hero-h1,
        .highlighted-text {
          font-family: $font-major;
          margin-top: 30px;
          font-size: 38px;
          font-weight: 800;
          text-transform: uppercase;
          color: $color-primary;
        }
        .highlighted-text {
          color: $color-light;
        }

        .hero-dis {
          font-size: 17.5px;
          font-family: $font-condensed;
          color: $color-primary;
          padding: 20px;
          padding-top: 15px;
          font-weight: 400;
        }
      }

      //   hero-section button
      .hero-btn {
        background: $color-primary;
        padding: 0.35em;
        padding-left: 1.2em;
        border-radius: 0.9em;
        border: none;
        letter-spacing: 0.05em;
        display: flex;
        align-items: center;
        box-shadow: inset 0 0 1.6em -0.6em #714da6;
        overflow: hidden;
        position: relative;
        height: 1.8em;
        padding-right: 2em;
        cursor: pointer;

        .hero-btn-a {
          color: $color-bg;
          margin-top: -3px;
          font-family: $font-mono;
          text-transform: uppercase;
          font-size: 15px;
          font-weight: 700;
        }

        .icon {
          background: white;
          margin-left: 1em;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 1.1em;
          width: 1.1em;
          border-radius: 0.7em;
          box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
          right: 0.3em;
          transition: all 0.3s;
        }
      }

      .hero-btn:hover .icon {
        width: calc(100% - 0.6em);
      }

      .hero-btn .icon svg {
        width: 0.9em;
        transition: transform 0.3s;
        color: #7b52b9;
      }

      .hero-btn:hover .icon svg {
        transform: translateX(0.1em);
      }

      .hero-btn:active .icon {
        transform: scale(0.95);
      }

      // stats
      .stats {
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;

        .stat,
        .highlighted-stat {
          width: 70px;
          margin: 10px;
          text-align: center;
          text-transform: uppercase;
          font-family: $font-condensed;
          font-weight: 500;
          color: $color-primary;
          font-size: 14px;
        }
        .highlighted-stat {
          color: $color-light;
          font-weight: 600;
          font-size: 18px;
        }
      }
    }
  } //header ends here

  // main page content starts here
  .main {
    // features section starts her
    .features-section {
      background-color: $color-primary;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 15px;
      height: 100vh;
      width: 100vw;

      .features-heading {
        top: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .features-h1 {
          font-family: $font-condensed;
          font-size: 35px;
          padding-bottom: 10px;
          font-weight: 700;
          color: $color-bg;
          text-transform: uppercase;
        }
        .features-dis {
          font-family: $font-condensed;
          padding: 10px;
          padding-top: 6px;
          font-size: 17.5px;
          font-weight: 400;
          color: $color-bg;
          margin-bottom: 35px;
          text-transform: capitalize;
        }
      }

      .features-container {
        padding: 10px;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;

        .feature {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 150px;
          padding: 10px;
          text-align: center;
          opacity: 0;
          filter: blur(5px);
          transform: translateX(-100%);
          transition: all 1s;

          .item-h1 {
            color: $color-light;
            font-size: 17px;
            font-weight: 700;
            font-family: $font-condensed;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding-bottom: 8px;
          }
          .item-dis {
            color: $color-bg;
            font-size: 16px;
            font-weight: 400;
            font-family: $font-condensed;
          }
          .item-img {
            width: 55px;
            padding: 5px;
            padding-bottom: 7px;
          }
          .img-1 {
            width: 55px;
            padding-bottom: 15px;
          }
        }
        .feature-animate {
          opacity: 1;
          filter: blur(0);
          transform: translateX(0);
        }
        .feature:nth-child(2) {
          transition-delay: 100ms;
        }
        .feature:nth-child(3) {
          transition-delay: 200ms;
        }
        .feature:nth-child(4) {
          transition-delay: 300ms;
        }
        .feature:nth-child(5) {
          transition-delay: 400ms;
        }
        .feature:nth-child(6) {
          transition-delay: 500ms;
        }
      }
    } //features section ends here

    // about section starts here
    .about-section {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 15px;
      height: 90vh;
      width: 100vw;
      padding: 20px;

      .about-h1 {
        margin-top: -30px;
        font-size: 40px;
        font-family: $font-major;
        color: $color-primary;
        font-weight: 900;
        text-transform: uppercase;
        padding: 20px;
      }

      .about-img {
        width: 200px;
        transform: scale(0);
        animation: scaleIn 1.45s ease-in-out forwards;
      }
      @keyframes scaleIn {
        from {
          transform: scale(0.5);
        }
        to {
          transform: scale(1);
        }
      }

      .about-dis {
        font-size: 18px;
        font-weight: 400;
        font-family: $font-condensed;
        color: $color-primary;
        padding: 20px;
      }

      // about section btn stylings
      .about-section-btn {
        margin: 20px;
        font-size: 15px;
        padding: 8px 28px;
        border: none;
        outline: none;
        border-radius: 32px;
        cursor: pointer;
        text-transform: uppercase;
        background-color: $color-primary;
        color: $color-bg;
        font-weight: 700;
        transition: 0.6s;
        box-shadow: 0px 0px 60px #1f4c65;
        -webkit-box-reflect: below 10px
          linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
        opacity: 0;
        filter: blur(5px);
        transform: translateY(100%);
        transition: all 0.8s ease-in-out;
      }
      .about-section-btn:active {
        scale: 0.92;
      }
      .about-section-btn:hover {
        background: rgb(2, 29, 78);
        background: linear-gradient(
          270deg,
          rgba(2, 29, 78, 0.681) 0%,
          rgba(31, 215, 232, 0.873) 60%
        );
        color: rgb(4, 4, 38);
      }
      .btn-animation {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
      }
    }
    // about section ends here

    // review section starts here
    .review-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 15px;
      height: 60vh;
      width: 100vw;
      padding: 20px;
      background-color: $color-primary;

      .review-heading {
        font-size: 40px;
        font-family: $font-major;
        color: $color-primary;
        font-weight: 900;
        text-transform: uppercase;
        padding: 20px;
        color: $color-bg;
      }

      .wrapper{
        width: 100%;
        overflow-x: auto;
      }
      .review-slider {
        overflow-y: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        scroll-snap-type: x mandatory;
        overflow-x: auto;
        scroll-behavior: auto;
        overscroll-behavior-x:contain ;

        .review-card {
          flex-shrink:0;
          scroll-snap-align:start ;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          background-color: $color-bg;
          width: 250px;
          height: 206px;
          padding: 15px;
          padding-top: 20px;
          padding-bottom: 20px;
          border: none;
          border-radius: 32px;
          margin: 20px;

          .reviewer-img {
            width: 45px;
            height: 45px;
            margin: 5px;
            border-radius: 180px;
          }

          .review-text {
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            .review-h1 {
              padding: 5px;
              padding-bottom: 10px;
              font-size: 18px;
              color: $color-primary;
              font-family: $font-condensed;
              font-weight: 700;
            }
            .review-dis {
              font-size: 16px;
              color: $color-primary;
              font-family: $font-condensed;
              font-weight: 400;
            }
          }
          .stars {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .star {
              width: 18px;
              margin-right: 5px;
            }
          }
        }
      }
    }
  } //main-content ends here
}
