// importing
@import "config";
@import "default";
@import "utils";
@import "navbar";
@import "footer";

body {
  width: 100vw;
  height: 100dvh;
  background-color: $color-bg;
  overflow-y: auto;


  // added to cart notification stylings
  .card {
    position: absolute;
    z-index: 1000;
    width: 300px;
    height: auto;
    background: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.1);
    padding: 0 15px;
    top: 80px;
    right: 50%;
    transform: translateX(50%);
  }
  
  .card-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
  }
  
  .card-icon {
    width: 20%;
  }
  
  .card-icon .icon-cart-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #908ed488;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    text-align: center;
    padding: 15px 0px;
    margin: 0 auto;
  
  }
  
  .card-content {
    width: 70%;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  
  .card-title-wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 100%;
  }
  
  .card-title {
    text-align: start;
    font-family: $font-poppins;
    width: 95%;
    font-size: 15px;
    font-weight: 600;
    color: #333;
    margin-bottom: 7px;
  }
  
  .card-action {
    width: 5%;
    text-align: right;
  }
  
  .card-action svg {
    cursor: pointer;
    fill: rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
  }
  
  .card-action svg:hover {
    fill: rgba(0, 0, 0, 0.6);
  }
  
  .product-name {
    font-size: 0.9em;
    font-family: $font-poppins;
    color: #757575;
    text-transform: capitalize;
  }
  
  .product-name:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  
  .product-price {
    font-size: 0.9em;
    font-weight: 600;
    font-family: $font-poppins;
    color: #333;
  }
  
  .btn-view-cart {
    margin-top: 11px;
    font-size: 0.7em;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 15px;
    color: $color-primary;
    border: 1px solid $color-primary;
    background-color: #908ed488;
    box-shadow: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    font-family: $font-poppins;
  }
  
  .btn-view-cart:hover,
  .btn-view-cart:active,
  .btn-view-cart:focus {
    color: white;
    background-color: $color-primary;
    border: 1px solid $color-primary;
  }

  .progress-line {
    position: absolute;
    bottom: 0;
    width: 100%; 
    height: 2.5px; 
    background-color: $color-light; 
    animation: progress 2.5s linear forwards; 
  }
  
  @keyframes progress {
    from {
      width: 100%;
    }
    to {
      width: 0%;
    }
  }
  
  

  .header {
    @include navbar;

    // hero-section starts here
    .hero-section {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 100vh;
      width: 100vw;
      background-color: rgb(213, 212, 214);

      .hero-img {
        display: block;
        width: 220px;
      }
      .hero-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 300px;

        .sale-p {
          color: rgba(98, 96, 152, 0.31);
          font-family: $font-stylish;
          font-size: 45px;
          text-transform: uppercase;
        }
        .hero-heading,
        .highlighted-text {
          text-transform: uppercase;
          color: $color-primary;
          font-family: $font-major;
          font-size: 40px;
          font-weight: 800;
          margin-bottom: 30px;
        }
        .highlighted-text {
          color: $color-light;
        }
        .hero-dis {
          color: $color-primary;
          font-family: $font-condensed;
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 30px;
        }
        .hero-btn {
          background: $color-primary;
          padding: 0.3em;
          padding-left: 1.2em;
          border-radius: 0.9em;
          border: none;
          letter-spacing: 0.05em;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          position: relative;
          padding-right: 1.2em;
          cursor: pointer;
          margin-top: 10px;
          transition: all 0.5s ease-in-out;
        }
        .hero-btn:hover {
          .hero-btn-a{
            color: rgb(206, 206, 206);
            box-shadow: grey 3px;
          }
        }
        .hero-btn-a {
          color: $color-bg;
          margin-top: -1px;
          font-family: $font-mono;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 700;
        }
      }
    } //hero section ends here
  }

  //   mainn page content starts here
  .main {
    // cmp section starts here
    .compatibility-section {
      width: 100vw;
      border-top: 2px $color-bg;
      z-index: 10;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 25px;
      background-color: #d9d9d9;
      margin-top: 45px;

      .cmp-h1 {
        color: $color-primary;
        font-family: $font-major;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 50px;
      }
      .cmp-dis {
        width: 296px;
        color: $color-primary;
        font-size: 16px;
        font-family: $font-condensed;
      }
      .systems {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-bottom: 40px;

        .s-icon {
          width: 40px;
        }
        .plus {
          color: $color-light;
          font-family: $font-stylish;
          font-size: 50px;
        }
      }
    }
    // cmp section end  here

    // collection section starts here
    .collection-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100vw;

      .collection-h1 {
        font-size: 28px;
        color: $color-primary;
        font-family: $font-major;
        text-transform: uppercase;
        font-weight: 700;
        margin: 30px;
        margin-top: 65px;
      }
      .products {
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        align-items: center;
        flex-wrap: wrap;

        .product-card {
          background-color: #d9d9d9;
          height: 210px;
          width: 140px;
          border-radius: 32px;
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: center;
          align-items: center;

          .product-img {
            width: 65px;
          }
          .product-name {
            color: $color-primary;
            font-family: $font-stylish;
            font-size: 14px;
            text-transform: uppercase;
            padding: 4px;
          }
          .product-price {
            color: $color-light;
            font-family: $font-stylish;
            font-size: 12px;
          }
          .product-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            background: $color-primary;
            padding-left: 1em;
            padding-right: 1em;
            padding-top: 7px;
            padding-bottom: 10px;
            border-radius: 0.9em;
            border: none;
            letter-spacing: 0.05em;
            overflow: hidden;
            position: relative;
            height: 1.2em;
            cursor: pointer;
            margin-bottom: 5px;
            margin-top: 10px;
            transition: all 0.5s ease-in-out;
            color: $color-bg;
            font-family: $font-mono;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 700;
          }
          .product-btn:hover {
            color: #b3b3b3;
          }
          .add-cartBtn{
            margin-top: 10px;
            height: 30px;
            width: 30px;
            background-color: #908ed488;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
          }
          .add-cartBtn:hover{
            background-color: #908ed4c5;
          }
          .cart-svg{
            width: 16px;
          }
        }
      }
    }
    // collection ends here

    .awards-section {
      padding: 20px;
      padding-left: 40px;
      padding-right: 40px;
      position: relative;
      height: 60vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      .slider-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        cursor: pointer;
        border: none;
        background: none;
        color: $color-primary;
      }

      .prev-btn {
        left: 10px;
        background-color: #312f4d2c;
        width: 20px;
        height: 20px;
        border-radius: 360px;
        color: grey;
        font-size: 8px;
      }

      .next-btn {
        right: 10px;
        background-color: #312f4d2c;
        width: 20px;
        height: 20px;
        border-radius: 360px;
        color: grey;
        font-size: 8px;
      }

      .wrapper {
        position: relative;
        width: 100%;
        overflow-x: auto;
      }
      .award-slider {
        position: relative;
        overflow-y: auto;
        display: flex;
        align-items: center;
        justify-content: start;
        scroll-snap-type: x mandatory;
        overflow-x: auto;
        scroll-behavior: auto;
        overscroll-behavior-x: contain;

        // card
        .award {
          flex-shrink: 0;
          scroll-snap-align: start;
          background-color: $color-bg;
          padding: 15px;
          width: 280px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          // background-color: #b3b3b3;
          border-radius: 32px;
          margin: 30px;
          margin-left: 5px;

          .award-img-container {
            .award-img {
              display: none;
            }
          }
          .awards-text {
            gap: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            // margin-top: -20px;

            .awards-heading {
              color: $color-light;
              font-size: 18px;
              font-family: $font-stylish;
              text-transform: uppercase;
            }
            .award-name {
              margin-top: -25px;
              text-transform: uppercase;
              color: $color-primary;
              font-size: 28px;
              font-family: $font-major;
              font-weight: 700;
            }
            .award-dis {
              color: $color-primary;
              font-family: $font-condensed;
              font-size: 16px;
            }
            .award-btn {
              background-color: rgba(49, 47, 77, 0.51);
              width: 120px;
              height: 25px;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              border-radius: 32px;
              transition: all 0.3s ease;

              .a-tag {
                margin-top: -2px;
                color: $color-bg;
                font-family: $font-mono;
                font-size: 15px;
                font-weight: 600;
                text-transform: uppercase;
              }
            }
          }
        }
        // card ends here
      }
    }
  } //main content ends here
  @include footer;
}

// for tablets
@media screen and (min-width: 481px) and (max-width: 1023px) {
  body {
    .hero-section {
      scale: 1.5;
    }
  }
}

// for laptops and higher sized devices
@media screen and (min-width: 1024px) {
  body {
    .card{
      top: 80px;
      right: 15px;
      margin: 20px;
      width: 350px;
      transform: none;
    }
    .header {
      .hero-section {
        .hero-img {
          width: 250px;
        }
        .hero-text {
          width: 600px;

          .sale-p,
          .hero-heading,
          .highlighted-text {
            font-size: 50px;
          }
          .hero-heading,
          .highlighted-text {
            margin-bottom: 20px;
          }
          .hero-dis {
            font-size: 18px;
            margin-bottom: 10px;
          }
        }
        .hero-btn {
          margin-top: 0px;
        }
      }
      .progress-line{
        height: 3.5px;
      }
    }

    .main {
      .compatibility-section {
        .cmp-dis {
          font-size: 18px;
          width: 700px;
        }
      }

      .collection-section {
        .products {
          padding: 90px;
          padding-top: 30px;
          gap: 35px;

          .product-card {
            width: 250px;
            height: 380px;

            .product-img {
              width: 150px;
            }
            .product-name {
              font-size: 20px;
            }
            .product-price {
              font-size: 16px;
            }
            .add-cartBtn{
              margin-top: 10px;
              height: 40px;
              width: 40px;
              background-color: #908ed488;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 12px;
            }
            .add-cartBtn:hover{
              background-color: #908ed4c5;
            }
          }

          .product-btn {
            width: 100px;
          }
        }
      }

      .awards-section {
        overflow: hidden;
        height: 70vh;

        .prev-btn,
        .next-btn {
          height: 30px;
          width: 30px;
          font-size: 15px;
        }

        .wrapper {
          margin-top: 20px;
          overflow: hidden;

          .award-slider {
            // award card
            .award {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              gap: 100px;
              margin: 20px;
              margin-left: 30px;
              width: 1100px;

              .award-img-container {
                .award-img {
                  display: block;
                  height: 280px;
                }
              }
              .awards-text {
                align-items: flex-start;
                width: 540px;

                .award-name {
                  font-size: 32px;
                }
                .award-dis {
                  text-align: left;
                  font-size: 18px;
                }
              }
              .award-btn:hover {
                background-color: rgba(49, 47, 77, 0.685);
                scale: 1.1;
                margin-left: 7px;
              }
            }
            // award card
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  body{
    .header{
      .hero-section{
        scale: 1.4;
      }
    }
    .main{
      .awards-section{
        .wrapper{
          .award-slider{
            .award{
              margin-left: 40px;
              width: 1400px;
            }
          }
        }
      }
    }
  }
}


.clickSound{
  display: none;
}


