@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Righteous&family=Roboto&family=Roboto+Condensed&family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Righteous&family=Roboto&family=Roboto+Condensed&family=Roboto+Mono&display=swap");
.row {
  display: flex;
}

.container {
  max-width: 85%;
  margin: 0px auto;
}

* {
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  color: #312F4D;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  padding: 0px;
  border: none;
  outline: none;
  margin: 0px;
  overflow: hidden;
  scroll-behavior: smooth;
}

ol,
ul,
dl {
  list-style-type: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

::-webkit-scrollbar,
::-moz-scrollbar {
  width: 0.1rem;
}

::-webkit-scrollbar-track,
::-moz-scrollbar-track {
  background: #312F4D;
}

::-webkit-scrollbar-thumb,
::-moz-scrollbar-thumb {
  background: #3b395d;
}

::-webkit-scrollbar-thumb:hover,
::-moz-scrollbar-thumb:hover {
  background: #27253d;
}

body {
  width: 100vw;
  height: 100dvh;
  background-color: #F0ECE5;
  overflow-y: auto;
}
body .header .nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  max-width: 100%;
  z-index: 10;
  gap: 6em;
  padding: 0.5rem 1rem;
  background: transparent;
}
body .header .nav .branding {
  grid-column: 1;
  display: flex;
  align-items: center;
  z-index: 1000;
}
body .header .nav .branding .branding-h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  color: #312F4D;
  text-transform: uppercase;
  transition: color 0.8s ease-in-out;
}
body .header .nav .branding .logo {
  width: 35px;
  transition: 0.4s ease-in-out;
}
body .header .nav .branding.active .branding-h1 {
  color: #626098 !important;
}
body .header .nav .branding.active .logo {
  opacity: 0;
}
body .header .nav .hamburger {
  margin-left: auto;
  grid-column: 3;
  display: block;
  cursor: pointer;
  z-index: 1000;
}
body .header .nav .hamburger .line {
  width: 25px;
  height: 2px;
  margin: 3.6px 0px;
  background-color: #626098;
  transition: transform 0.3s ease-in-out;
  border-radius: 50px;
}
body .header .nav .hamburger.is-active .line:nth-child(1) {
  transform: rotate(45deg) translateY(-5px);
}
body .header .nav .hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}
body .header .nav .hamburger.is-active .line:nth-child(3) {
  transform: rotate(-45deg) translateY(5px);
}
body .header .nav .navigation {
  display: flex;
  position: absolute;
  height: 0px;
  top: 0px;
  left: 0;
  right: 0;
  width: 100vw;
  background-color: #312F4D;
  transition: height 0.4s ease-in-out;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
body .header .nav .navigation .ul-tag {
  display: flex;
  gap: 2em;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 80px auto 0 auto;
  text-align: center;
  transition: 0.9s;
  opacity: 0;
}
body .header .nav .navigation .ul-tag li {
  display: inline-block;
  margin-bottom: -5px;
  transition: 0.9s;
  text-align: center;
  padding: 5px 15px;
  border-bottom: 2px solid #626098;
  border-radius: 8px;
  transition: border 0.1s ease-in-out;
}
body .header .nav .navigation .ul-tag li:last-child {
  margin-bottom: 10px;
}
body .header .nav .navigation .ul-tag li:hover {
  border: 2px solid #626098;
  border-radius: 20px;
}
body .header .nav .navigation .link {
  transition: 1s ease-in-out;
  color: #F0ECE5;
  font-family: "Roboto Mono", monospace;
  font-size: 0.9rem;
  text-transform: uppercase;
}
body .header .nav .navigation.active {
  height: 380px;
  z-index: 900;
}
body .header .nav .navigation.active .ul-tag {
  opacity: 1;
}

/*# sourceMappingURL=index.css.map */
