@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Righteous&family=Roboto:wght@900&family=Roboto+Condensed:wght@500&family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Righteous&family=Roboto:wght@900&family=Roboto+Condensed:wght@500&family=Roboto+Mono&display=swap");
* {
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  color: #312F4D;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  padding: 0px;
  border: none;
  outline: none;
  margin: 0px;
  overflow: hidden;
  scroll-behavior: smooth;
}

ol,
ul,
dl {
  list-style-type: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

::-webkit-scrollbar,
::-moz-scrollbar {
  width: 0.1rem;
}

::-webkit-scrollbar-track,
::-moz-scrollbar-track {
  background: #312F4D;
}

::-webkit-scrollbar-thumb,
::-moz-scrollbar-thumb {
  background: #3b395d;
}

::-webkit-scrollbar-thumb:hover,
::-moz-scrollbar-thumb:hover {
  background: #27253d;
}

@media screen and (min-width: 1024px) {
  ::-webkit-scrollbar {
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #7b78c6;
    border-radius: 12px;
    height: 2px;
  }
  ::-webkit-scrollbar-track {
    height: 3px;
    background-color: rgba(49, 47, 77, 0.7921568627);
  }
}
.hidden {
  opacity: 0;
  transition: opacity 0.7s ease-in;
  filter: blur(3px);
}

.animate {
  opacity: 1;
  filter: blur(0);
}

body {
  width: 100vw;
  height: 100dvh;
  background-color: #F0ECE5;
  overflow-y: auto;
}
body .header .nav {
  display: grid;
  position: fixed;
  top: 0;
  z-index: 1000;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
  z-index: 1000;
  gap: 6em;
  padding: 0.5rem 1rem;
  background-color: rgba(240, 236, 229, 0.8196078431);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
body .header .nav .branding {
  grid-column: 1;
  display: flex;
  align-items: center;
  z-index: 1000;
}
body .header .nav .branding .branding-h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  color: #312F4D;
  text-transform: uppercase;
  transition: color 0.8s ease-in-out;
}
body .header .nav .branding .logo {
  width: 35px;
  transition: 0.4s ease-in-out;
}
body .header .nav .branding.active .branding-h1 {
  color: #626098 !important;
}
body .header .nav .branding.active .logo {
  opacity: 0;
}
body .header .nav .hamburger {
  width: 30px;
  margin-left: auto;
  grid-column: 3;
  display: block;
  cursor: pointer;
  z-index: 1000;
  transition: 0.5s ease;
}
body .header .nav .hamburger .line {
  width: 100%;
  height: 2px;
  margin: 3.6px 0px;
  background-color: #626098;
  transition: transform 0.5s ease, opacity 0.5s ease;
  border-radius: 50px;
}
body .header .nav .hamburger.active .line:nth-child(1) {
  transform: translateY(50%) rotate(-45deg) scaleX(1.1);
  width: 40px;
  height: 2.5px;
  border-radius: 180px;
}
body .header .nav .hamburger.active .line:nth-child(2) {
  transform: scaleX(0);
}
body .header .nav .hamburger.active .line:nth-child(3) {
  width: 40px;
  height: 2.5px;
  border-radius: 180px;
  transform: translateY(-50%) rotate(45deg) scaleX(1.1);
}
body .header .nav .navigation {
  display: flex;
  position: fixed;
  top: 0;
  height: 0px;
  top: 0px;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 1100;
  background-color: #312F4D;
  transition: height 0.4s ease-in-out;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
body .header .nav .navigation .ul-tag {
  display: flex;
  gap: 2em;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 80px auto 0 auto;
  text-align: center;
  transition: 0.9s;
  opacity: 0;
}
body .header .nav .navigation .ul-tag li {
  display: inline-block;
  margin-bottom: -5px;
  transition: 0.9s;
  text-align: center;
  padding: 5px 15px;
  border-bottom: 2px solid #626098;
  border-radius: 8px;
  transition: border 0.1s ease-in-out;
}
body .header .nav .navigation .ul-tag li:last-child {
  margin-bottom: 10px;
}
body .header .nav .navigation .ul-tag li:hover {
  border: 2px solid #626098;
  border-radius: 20px;
}
body .header .nav .navigation .link {
  transition: 1s ease-in-out;
  color: #F0ECE5;
  font-family: "Roboto Mono", monospace;
  font-size: 0.9rem;
  text-transform: uppercase;
}
body .header .nav .navigation.active {
  height: 380px;
  z-index: 900;
}
body .header .nav .navigation.active .ul-tag {
  opacity: 1;
}
@media screen and (min-width: 1024px) {
  body .header .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(240, 236, 229, 0.4862745098);
    backdrop-filter: blur(5px);
    border-radius: 0;
    gap: 0;
    width: 100vw;
  }
  body .header .nav .branding {
    display: flex;
    margin-left: 40px;
    width: 150px;
  }
  body .header .nav .hamburger {
    display: none;
  }
  body .header .nav .navigation {
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: auto;
    background-color: transparent;
    border-radius: 0;
  }
  body .header .nav .navigation .ul-tag {
    display: flex;
    justify-content: end;
    gap: 4em;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin: 0;
    text-align: center;
    opacity: 1;
  }
  body .header .nav .navigation .ul-tag li {
    margin-bottom: 0;
    text-align: center;
    border-bottom: none;
    border-radius: 0;
    padding: 0px;
    border: none;
  }
  body .header .nav .navigation .ul-tag li:last-child {
    margin-bottom: 0px;
  }
  body .header .nav .navigation .ul-tag li:hover {
    border: none;
    border-bottom: 2px solid #626098;
    border-radius: 0;
  }
  body .header .nav .navigation .ul-tag .link {
    color: #312F4D;
    font-size: 14px;
    font-weight: 500;
  }
}
body .header .hero {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  height: 100vh;
  width: 100vw;
  margin-top: 20px;
}
body .header .hero .hero-img {
  width: 200px;
  transform: scale(0);
  animation: scaleIn 1.45s ease-in-out forwards;
}
@keyframes scaleIn {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
body .header .hero .hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
body .header .hero .hero-text .hero-h1,
body .header .hero .hero-text .highlighted-text {
  font-family: "Roboto", sans-serif;
  margin-top: 30px;
  font-size: 38px;
  font-weight: 800;
  text-transform: uppercase;
  color: #312F4D;
}
body .header .hero .hero-text .highlighted-text {
  color: #626098;
}
body .header .hero .hero-text .hero-dis {
  font-size: 17.5px;
  font-family: "Roboto Condensed", sans-serif;
  color: #312F4D;
  padding: 20px;
  padding-top: 15px;
  font-weight: 400;
}
body .header .hero .hero-text .hero-btn {
  background: #312F4D;
  padding: 0.35em;
  padding-left: 1.2em;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 1.8em;
  padding-right: 2em;
  cursor: pointer;
}
body .header .hero .hero-text .hero-btn .hero-btn-a {
  color: #F0ECE5;
  margin-top: -3px;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
}
body .header .hero .hero-text .hero-btn .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.1em;
  width: 1.1em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}
body .header .hero .hero-text .hero-btn:hover .icon {
  width: calc(100% - 0.6em);
}
body .header .hero .hero-text .hero-btn .icon svg {
  width: 0.9em;
  transition: transform 0.3s;
  color: #7b52b9;
}
body .header .hero .hero-text .hero-btn:hover .icon svg {
  transform: translateX(0.1em);
}
body .header .hero .hero-text .hero-btn:active .icon {
  transform: scale(0.95);
}
body .header .hero .hero-text .stats {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}
body .header .hero .hero-text .stats .stat,
body .header .hero .hero-text .stats .highlighted-stat {
  width: 70px;
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  color: #312F4D;
  font-size: 14px;
}
body .header .hero .hero-text .stats .highlighted-stat {
  color: #626098;
  font-weight: 600;
  font-size: 18px;
}
body .main .features-section {
  background-color: #312F4D;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  height: 100vh;
  width: 100vw;
}
body .main .features-section .features-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
body .main .features-section .features-heading .features-h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 35px;
  padding-bottom: 10px;
  font-weight: 700;
  color: #F0ECE5;
  text-transform: uppercase;
}
body .main .features-section .features-heading .features-dis {
  font-family: "Roboto Condensed", sans-serif;
  padding: 10px;
  padding-top: 6px;
  font-size: 17.5px;
  font-weight: 400;
  color: #F0ECE5;
  margin-bottom: 35px;
  text-transform: capitalize;
}
body .main .features-section .features-container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
body .main .features-section .features-container .feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  padding: 10px;
  text-align: center;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
body .main .features-section .features-container .feature .item-h1 {
  color: #626098;
  font-size: 17px;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 8px;
}
body .main .features-section .features-container .feature .item-dis {
  color: #F0ECE5;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
}
body .main .features-section .features-container .feature .item-img {
  width: 55px;
  padding: 5px;
  padding-bottom: 7px;
}
body .main .features-section .features-container .feature .img-1 {
  width: 55px;
  padding-bottom: 15px;
}
body .main .features-section .features-container .feature-animate {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
body .main .features-section .features-container .feature:nth-child(2) {
  transition-delay: 100ms;
}
body .main .features-section .features-container .feature:nth-child(3) {
  transition-delay: 200ms;
}
body .main .features-section .features-container .feature:nth-child(4) {
  transition-delay: 300ms;
}
body .main .features-section .features-container .feature:nth-child(5) {
  transition-delay: 400ms;
}
body .main .features-section .features-container .feature:nth-child(6) {
  transition-delay: 500ms;
}
body .main .about-section {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  height: 90vh;
  width: 100vw;
  padding: 20px;
}
body .main .about-section .about-h1 {
  margin-top: -30px;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  color: #312F4D;
  font-weight: 900;
  text-transform: uppercase;
  padding: 20px;
}
body .main .about-section .about-img {
  width: 200px;
  transform: scale(0);
  animation: scaleIn 1.45s ease-in-out forwards;
}
@keyframes scaleIn {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
body .main .about-section .about-dis {
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
  color: #312F4D;
  padding: 20px;
}
body .main .about-section .about-section-btn {
  margin: 20px;
  font-size: 15px;
  padding: 8px 28px;
  border: none;
  outline: none;
  border-radius: 32px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #312F4D;
  color: #F0ECE5;
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #1f4c65;
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 0.8s ease-in-out;
}
body .main .about-section .about-section-btn:active {
  scale: 0.92;
}
body .main .about-section .about-section-btn:hover {
  background: rgb(2, 29, 78);
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
  color: rgb(4, 4, 38);
}
body .main .about-section .btn-animation {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}
body .main .review-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  height: 60vh;
  width: 100vw;
  padding: 20px;
  background-color: #312F4D;
}
body .main .review-section .review-heading {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  color: #312F4D;
  font-weight: 900;
  text-transform: uppercase;
  padding: 20px;
  color: #F0ECE5;
}
body .main .review-section .wrapper {
  width: 100%;
  overflow-x: auto;
}
body .main .review-section .review-slider {
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  scroll-behavior: auto;
  overscroll-behavior-x: contain;
}
body .main .review-section .review-slider .review-card {
  flex-shrink: 0;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #F0ECE5;
  width: 250px;
  height: 206px;
  padding: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  border-radius: 32px;
  margin: 20px;
}
body .main .review-section .review-slider .review-card .reviewer-img {
  width: 45px;
  height: 45px;
  margin: 5px;
  border-radius: 180px;
}
body .main .review-section .review-slider .review-card .review-text {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body .main .review-section .review-slider .review-card .review-text .review-h1 {
  padding: 5px;
  padding-bottom: 10px;
  font-size: 18px;
  color: #312F4D;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}
body .main .review-section .review-slider .review-card .review-text .review-dis {
  font-size: 16px;
  color: #312F4D;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}
body .main .review-section .review-slider .review-card .stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .main .review-section .review-slider .review-card .stars .star {
  width: 18px;
  margin-right: 5px;
}
body .main .sale-banner {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 15px;
  height: 50vh;
  width: 100vw;
  padding: 20px;
  background-color: #F0ECE5;
}
body .main .sale-banner .sale-h1 {
  color: #312F4D;
  font-size: 32px;
  font-weight: 400;
  padding: 15px;
  font-family: "Righteous", sans-serif;
}
body .main .sale-banner .sale-dis {
  color: #626098;
  font-size: 13px;
  font-weight: 400;
  padding: 15px;
  padding-top: 0px;
  font-family: "Righteous", sans-serif;
}
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
body .main .sale-banner .sale-percent {
  animation: pulse 1.3s infinite;
  font-size: 50px;
  font-weight: 400;
  color: #626098;
  font-family: "Righteous", sans-serif;
}
body .main .sale-banner .sale-btn {
  background: #312F4D;
  padding: 0.35em;
  padding-left: 1.2em;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  height: 1.8em;
  padding-right: 1.2em;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.5s ease-in-out;
}
body .main .sale-banner .sale-btn:hover {
  scale: 1.3;
}
body .main .sale-banner .sale-btn-a {
  color: #F0ECE5;
  margin-top: -3px;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
}
@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
body .main .sale-banner .sale-disclaimer {
  animation: slide 2.7s infinite linear;
  color: rgba(49, 47, 77, 0.51);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
}
body .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  height: 50vh;
  width: 100vw;
  background-color: #312F4D;
}
body .footer .footer-heading {
  color: rgba(98, 96, 152, 0.89);
  font-family: "Righteous", sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  line-height: normal;
  padding: 15px;
  letter-spacing: 2px;
}
body .footer .footer-social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
body .footer .footer-social-links .social-link {
  width: 27px;
  margin: 6px;
  border-radius: 180px;
}
body .footer .loader {
  display: block;
  --height-of-loader: 2px;
  width: 85%;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: #626098;
  position: relative;
}
body .footer .page-links {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
}
body .footer .page-links .page-link {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15.5px;
  font-weight: 500;
  color: #F0ECE5;
  margin: 5px;
}
body .footer .footer-essentials {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
body .footer .footer-essentials .essential {
  color: rgba(255, 255, 255, 0.67);
  font-size: 14.5px;
  font-weight: 500;
  padding: 10px;
  padding-bottom: 6px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}
body .footer .copyright {
  margin-top: auto;
}
body .footer .copyright .copyright-text {
  color: rgba(255, 255, 255, 0.63);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  body .footer {
    height: 65vh;
  }
  body .footer .page-links {
    gap: 40px;
  }
  body .footer .page-links .page-link {
    transition: all 0.2s ease-in-out;
  }
  body .footer .page-links .page-link:hover {
    color: rgb(164, 148, 221);
    scale: 1.2;
  }
}
@media screen and (min-width: 1280px) {
  body .footer {
    height: 50vh;
  }
  body .footer .page-links {
    gap: 40px;
  }
  body .footer .page-links .page-link {
    transition: all 0.2s ease-in-out;
  }
  body .footer .page-links .page-link:hover {
    color: rgb(164, 148, 221);
    scale: 1.2;
  }
}

@media screen and (min-width: 481px) and (max-width: 1023px) {
  .hero {
    scale: 1.7;
  }
  .hero .hero-h1 {
    padding-right: 70px;
    padding-left: 70px;
  }
  .hero .hero-h1,
  .hero .highlighted-text {
    width: 80%;
    margin-top: 20px;
  }
  .hero .hero-text .hero-dis {
    width: 340px;
    padding-right: 100px;
    padding-left: 100px;
  }
  .features-section {
    scale: 1.6;
  }
  .features-section .features-heading {
    margin-top: 200px;
    width: 80%;
    padding-left: 150px;
    padding-right: 150px;
  }
  .features-section .features-heading .features-h1 {
    padding: 20px;
  }
  .features-section .features-heading .features-dis {
    margin-top: 10px;
  }
  .features-section .features-container {
    width: 50%;
    padding-right: 200px;
    padding-left: 200px;
  }
  .features-section .features-container .feature {
    scale: 1.1;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
  }
  .wave-1 {
    display: none;
  }
  .about-section {
    scale: 1.3;
    height: 90vh;
    margin-top: 200px;
  }
  .about-section .about-dis {
    width: 70%;
    padding-left: 120px;
    padding-right: 120px;
    scale: 1.2;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  body .header .hero {
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
    align-items: center;
  }
  body .header .hero .hero-img {
    order: 2;
    width: 335px;
    margin-right: 10px;
  }
  body .header .hero .hero-text {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 20px;
    text-align: left;
    width: 470px;
    padding: 40px;
  }
  body .header .hero .hero-text .hero-h1,
  body .header .hero .hero-text .highlighted-text {
    margin-top: 0px;
    text-align: left;
    font-size: 55px;
    padding: 0px;
  }
  body .header .hero .hero-text .hero-dis {
    text-align: left;
    font-size: 18px;
    padding: 0;
  }
  body .header .hero .hero-text .hero-btn {
    margin: 0px;
  }
  body .header .hero .hero-text .stats {
    padding: 0px;
    margin: 0;
    margin-top: 5px;
    gap: 25px;
  }
  body .header .hero .hero-text .stats .stat,
  body .header .hero .hero-text .stats .highlighted-stat {
    width: 90px;
    margin: 0px;
    font-size: 16px;
  }
  body .header .hero .hero-text .stats .highlighted-stat {
    font-size: 20px;
  }
  body .main .features-section .features-heading .features-h1 {
    font-size: 45px;
    letter-spacing: 1.7px;
  }
  body .main .features-section .features-heading .features-dis {
    font-size: 19px;
  }
  body .main .features-section .features-container {
    width: 90%;
    gap: 60px;
  }
  body .main .features-section .features-container .feature {
    width: 220px;
  }
  body .main .features-section .features-container .feature .item-h1 {
    font-size: 20px;
  }
  body .main .features-section .features-container .feature .item-dis {
    font-size: 17.5px;
  }
  body .main .features-section .features-container .feature:nth-child(6) {
    width: 160px;
    margin-left: 40px;
  }
  body .main .about-section {
    display: flex;
    align-items: flex-start;
    height: 80vh;
    gap: 40px;
  }
  body .main .about-section .about-h1 {
    font-size: 55px;
    padding-left: 65px;
    text-align: left;
    padding-bottom: 0;
  }
  body .main .about-section .about-img {
    position: absolute;
    right: 0;
    width: 440px;
    padding-right: 65px;
  }
  body .main .about-section .about-dis {
    font-size: 18px;
    padding: 0px;
    padding-left: 65px;
    width: 320px;
    text-align: left;
  }
  body .main .about-section .about-section-btn {
    margin: 0px;
    margin-left: 65px;
  }
  body .main .review-section {
    height: 80vh;
  }
  body .main .review-section .wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  body .main .sale-banner {
    height: 60vh;
  }
}
@media only screen and (min-width: 1440px) {
  .hero {
    scale: 1.7;
  }
  .hero .hero-img {
    width: 1000px;
  }
  .features-section {
    scale: 1.7;
  }
  .features-section .features-heading {
    margin-top: 200px;
  }
  .features-section .features-container {
    width: 30%;
    padding-left: 200px;
    padding-right: 200px;
  }
  .wave-1 {
    display: none;
  }
  .about-section {
    scale: 1.7;
    margin-top: 400px;
  }
  .about-section .about-dis {
    width: 40%;
    padding-left: 300px;
    padding-right: 300px;
  }
  .review-section .wrapper {
    display: flex;
    justify-content: center;
  }
}

/*# sourceMappingURL=index.css.map */
